.title{
    text-align:center;
}
.report_bug{
	position:absolute;
	top: 10px;
	left:calc(100% - 25vw);
	font-size:1vw;
}
.total_fusion_label{
	position:absolute;
	top: 2vh;
	left: 1vw;
	font-size:1vw;
}
.total_fusion{
	position:absolute;
	top: 2vh;
	left: 20vw;
	font-size:1vw;
}
.total_votes_label{
	position:absolute;
	top: 5vh;
	left: 1vw;
	font-size:1vw;
}
.total_votes{
	position:absolute;
	top: 5vh;
	left: 20vw;
	font-size:1vw;
}
.subtitle{
    text-align:center;
}

.under_title{
    text-align:center;
    display:block;
}

div {
}

.fusion_img{
    width:25vw;
    margin-left:auto;
    margin-right:auto;
    display:block;
    text-align:center;
}

.parents_imgs{
    display:inline-block;
}

parents {
    text-align:center;
    display:block;
}

.fusion_name{
    text-align:center;
}

buttons{
    display:block;
    width:30%;
    text-align:center;
    margin:auto;
}
.buttons{
    width:15%;
    margin:auto;
    padding-left:8%;
    padding-right:8%;
    
}
.button_leaderboard{
	margin-top:10vh;
	width:20%;
	height:10%;
	text-align:center;
	display:block;
	margin-left:auto;
	margin-right:auto;
	font-size:180%;
}

@media screen and (max-width: 1200px) {
	.title{
		margin-top:5vh;
		font-size:4vw;
	}
	.report_bug{
		position:absolute;
		top: 10px;
		left:calc(100% - 25vw);
		font-size:2vw;
	}
	.total_fusion_label{
		position:absolute;
		top: 1vh;
		left: 1vw;
		font-size:1.5vw;
	}
	.total_fusion{
		position:absolute;
		top: 1vh;
		left: 30vw;
		font-size:1.5vw;
	}
	.total_votes_label{
		position:absolute;
		top: 3vh;
		left: 1vw;
		font-size:1.5vw;
	}
	.total_votes{
		position:absolute;
		top: 3vh;
		left: 30vw;
		font-size:1.5vw;
	}
	.subtitle{
		font-size:3vw;
	}
	.under_title{
		font-size:3vw;
	}
	.fusion_name{
		font-size:3vw;
		margin-top:3vh;
		margin-bottom:3vh;
	}
	.parents_imgs{
		width:20%;
	}
	.fusion_img{
		width:65%;
	}
	buttons{
		width:100%;
	}


}
