/* Global to everyone */

p{
    margin-top:0;
    margin-bottom:0;
}
.title{
    text-align:center;
    display:block;
}
.subtitle{
    text-align:center;
    display:block;
}
.under_title{
    text-align:center;
    display:block;
}
.fusion_name{
    display:block;
    text-align:center;
}
.report_bug{
    display:block;
    text-align:center;
}
.total_fusion_label{
    text-align:center;
    display:block;
}
.total_votes_label{
    display:block;
    text-align:center;
}
.total_fusion_0_votes{
    display:block;
    text-align:center;
}
.fusion_img{
    margin-top:-15px;
    margin-left:auto;
    margin-right:auto;
    display:block;
    text-align:center;
}
.parents_imgs{
    display:inline-block;
}
parents {
    margin-top:-10px;
    text-align:center;
    display:block;
}
buttons{
    display:block;
    text-align:center;
    margin:auto;
}
.buttons{
    margin:auto;
}
.button_leaderboard{
	text-align:center;
	display:inline-block;
	margin-left:auto;
	margin-right:auto;
	width:32%;
}
.button_favorite{
	text-align:center;
	display:inline-block;
	width:32%;
	margin-left:auto;
	margin-right:auto;
}

.button_last_voted{
	text-align:center;
	display:inline-block;
	width:32%;
	margin-left:auto;
	margin-right:auto;
}

.myProgress{
	width:50%;
	position:absolute;
	left:75%;
	background-color: #ddd;
}
.myBar {
  width: 100%;
  height: 30px;
  background-color: #444;
  text-align: center;
  line-height: 30px;
  color: blue;
}
/* Mobile */
@media only screen and (max-width: 700px) {
	.title{
		font-size:4vw;
	}
	.subtitle{
		font-size:3vw;
	}
	.under_title{
		font-size:3vw;
	}
	.fusion_name{
		font-size:3vw;
	}
	.report_bug{
		font-size:3vw;
	}
	.total_fusion_label{
		font-size:3vw;
	}
	.total_fusion{
		font-size:3vw;
	}
	.total_votes_label{
		font-size:3vw;
	}
	.total_votes{
		font-size:3vw;
	}
  .total_fusion_0_votes{
		font-size:3vw;
  }
	.fusion_img{
	    width:80%;
	}
	buttons{
	    width:70%;
	}
	.buttons{
	    width:15%;
	    padding-left:8%;
	    padding-right:8%;
	}
	.button_leaderboard{
		margin-top:5vh;
		height:5vh;
		font-size:2vw;
	}
	.button_favorite{
		height:5vh;
		font-size:2vw;
	}
	.button_last_voted{
		height:5vh;
		font-size:2vw;
	}
	.leaderboard > img {
		width:25%;
	}
	.last_voted > img {
		width:25%;
	}

}

/* Desktop */
	@media only screen and (min-width: 701px){
		.title{
		font-size:1.5vw;
	}
	.subtitle{
		font-size:1vw;
	}
	.under_title{
		font-size:1vw;
	}
	.report_bug{
		font-size:1vw;
	}
	.total_fusion_label{
		font-size:1vw;
	}
	.total_fusion{
		font-size:1vw;
	}
	.total_votes_label{
		font-size:1vw;
	}
	.total_votes{
		font-size:1vw;
	}
  .total_fusion_0_votes{
		font-size:1vw;
  }
	.fusion_img{
	    width:25vw;
	}
	buttons{
	    width:100%;
	}
	.buttons{
	    width:5%;
	    padding-left:4%;
	    padding-right:4%;
	}
	.button_leaderboard{
		margin-top:2vh;
		font-size:2vw;
	}
	.button_favorite{
		font-size:2vw;
	}
	.button_last_voted{
		font-size:2vw;
	}

	.leaderboard > img {
		width:20%;
	}
	.last_voted > img {
		width:20%;
	}
}
